h2{
    text-align: center;
    font-family: cursive;
}
div{
    padding: 7px;
}
form{
    text-align: center;
    font-family: cursive;
    font-size: medium;
}
a{
    text-decoration: none;
    color: rgb(41, 41, 148);
}