h2 {
  text-align: center;
  font-family: cursive;
}
div {
  padding: 7px;
}
form {
  text-align: center;
  font-family: cursive;
  font-size: medium;
}
.tit {
  width: 500px;
  height: 20px;
}
.cont {
  width: 1000px;
  height: 200px;
}
button {
  font-size: 18px;
  border-radius: 5px;
}
